{% extends 'base.html.twig' %}


{% block body %}

    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">MoonJack - Actus</h1>
        </div>
        <div class="overlay"></div>
    </header>

    <div class="row justify-content-center" style="background: rgb(44, 62, 80);">
        <div class="col-12 col-sm-11 col-lg-6">
            <div id="carouselActu">
                <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel" >
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox" >
                        <!--First slide-->
                        {% set i=0 %}
                        {% for article in articles %}
                            <div class="carousel-item {% if i == 0 %} active {% endif %}">
                                <!-- Card -->
                                <div class="card" style="margin: 0;padding: 0">

                                    <!-- Card image -->
                                    <div class="view overlay">
                                        <img class="card-img-top" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="Card image cap">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                    <!-- Card content -->
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h4 class="card-title" style="text-align: center">{{ article.title }}</h4>
                                        <!-- Text -->
                                        <p class="card-text">{{ article.content | raw }}</p>

                                        {% if article.commentaires %}
                                            <div class="row justify-content-center" style="margin-bottom: 5vh">
                                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                                                    <i class="far fa-comment-alt"></i>{{ article.commentaires|length }}
                                                </button>
                                            </div>
                                            <div class="collapse" id="collapseComment">
                                                <div class="mt-3">
                                                    <div class="row justify-content-center">
                                                        <div class="col-8">
                                                            <div class="row justify-content-center">
                                                                {% for commentaire in article.commentaires %}
                                                                    <div class="col-10">
                                                                        De: {{ commentaire.auteur }} le {{ commentaire.dateCreation|date('Y-m-d')  }}
                                                                        <div id="commentStyle">{{ commentaire.contenu }}</div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-8">
                                                                    {% if(app.user) %}
                                                                        {{ form_start(form) }}
                                                                            {{ form_row(form.contenu,{"attr":{"placeholder": "Commenter" }}) }}
                                                                            <input type="hidden" name="article" value="{{ article.id }}"/>
                                                                            <div style="text-align: center;margin-bottom: 5vh;" >
                                                                                <button type="submit" class="btn btn-success">Poster</button>
                                                                            </div>
                                                                        {{ form_end(form) }}
                                                                    {% else %}
                                                                        <p style="margin-top: 7vh;text-align: center">Vous ne pouvez pas commenter cet article si vous n'êtes pas connecté</p>
                                                                        <div  style="text-align: center">
                                                                            <a href="{{ path('security_login') }}">Vous connecter</a>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% set i = i+1 %}
                                <!-- Card -->
                            </div>
                        {% endfor %}
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
        </div>
    </div>

{% endblock %}