{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | date("y/m/d") }} dans la catégorie wow</div>
        <div class="content"><img src="{{ article.image }}" alt="">
            {{ article.content | raw }}
        </div>
        <section id="commentaire">
            {% for comment in article.comments %}
                <div class="comment">
                    <div class="row">
                        <div class="col-3">
                            {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                        </div>
                        <div class="col">
                            {{ comment.content | raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if(app.user) %}
                {{ form_start(commentForm) }}

                {{ form_row(commentForm.author, {"attr":{"placeholder": "auteur du commentaire"}}) }}

                {{ form_row(commentForm.content,{"attr":{"placeholder": "contenu" }}) }}

                <button type="submit" class="btn btn-success">Envoyer</button>

                {{ form_end(commentForm) }}
            {% else %}
                <h5>Vous ne pouvez pas commenter si vous n'êtes pas connecté</h5>
                <a href="{{ path('security_login') }}">Vous connecter</a>
            {% endif %}
        </section>
    </article>

{% endblock %}